<nav
  class="navbar navbar-expand-lg navbar-light header-color shadow background-details"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/" style="color: white">mymovieplan</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    ></button>
    <form
      class="form-inline d-flex ms-5 align-middle"
      *ngIf="isAuthenticated"
      #searchForm="ngForm"
    >
      <input
        class="form-control me-2"
        type="search"
        placeholder="Enter Movie Name"
        aria-label="Search"
        style="width: 500px"
        ngModel
        name="movieName"
      />
      <button class="btn btn-outline-light" type="submit">Search</button>
    </form>

    <div
      class="collapse navbar-collapse d-flex justify-content-end"
      id="navbarNavAltMarkup"
    >
      <div class="navbar-nav">
        <a
          class="nav-item nav-link text-bold"
          routerLink="/signup"
          routerLinkActive="active"
          style="color: white"
          *ngIf="onLogin && !isAuthenticated"
          (click)="onSignup()"
          >Signup</a
        >
        <a
          class="nav-item nav-link text-bold"
          routerLink="/login"
          routerLinkActive="active"
          style="color: white"
          *ngIf="!onLogin && !isAuthenticated"
          (click)="onlogin()"
          >Login</a
        >
        <li class="nav-item dropdown" *ngIf="!isAdmin && isAuthenticated && cities.length > 0">
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: white"
          >
            {{ activeCity.name }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLinkActive="active"
                (click)="onCitySelect(c)"
                style="cursor: pointer"
                *ngFor="let c of cities; let i = index"
                >{{c.name}}</a
              >
            </li>
          </ul>
        </li>
        <li
          class="nav-item dropdown"
          *ngIf="isUserAvailable && isAuthenticated"
        >
          <a
            class="nav-link dropdown-toggle"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            style="color: white"
          >
            {{ user.firstName }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li>
              <a
                class="dropdown-item"
                routerLinkActive="active"
                (click)="onLogout()"
                style="cursor: pointer"
                >Logout</a
              >
            </li>
            <li>
              <a
                class="dropdown-item"
                routerLinkActive="active"
                *ngIf="!isAdmin"
                >Get Bookings</a
              >
            </li>
          </ul>
        </li>
        <a
          class="nav-item nav-link text-bold"
          routerLink="/about"
          routerLinkActive="active"
          style="color: white"
          >About</a
        >
        <a
          class="nav-item nav-link text-bold"
          routerLink="/contact"
          routerLinkActive="active"
          style="color: white"
          >Contact</a
        >
      </div>
    </div>
  </div>
</nav>
