<div class="container mt-4 text-center">
    <h2>Language Home</h2>
    <button class="btn btn-primary mb-3" (click)="onAddLanguage()" type="button" *ngIf="!addLanguage">Add Language?</button>
    <button class="btn btn-danger mb-3" (click)="onAddLanguage()" type="button" *ngIf="addLanguage">Hide Form</button>
    <form #addLanguageForm="ngForm" (ngSubmit)="onSubmit(addLanguageForm)" *ngIf="addLanguage">
      <div class="input-group mb-3">
          <span class="input-group-text">Language Name</span>
          <input
            type="text"
            class="form-control"
            placeholder="Enter Language name"
            name="languageName"
            style="width: 300px; display: inline"
            ngModel
            required
          />
      </div>
      <button class="btn btn-primary mb-3" type="submit">Submit</button>
    </form>
    <table
      class="table table-hover text-center table-bordered table-dark"
      *ngIf="languages.length > 0"
    >
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Language Name</th>
          <th scope="col">Update</th>
          <th scope="col">Remove</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let language of languages; let i = index">
          <th scope="row">{{ i + 1 }}</th>
          <td>{{ language.name }}</td>
          <td>
            <a class="btn btn-primary btn-sm" (click)="onUpdate(language)">Update</a>
          </td>
          <td>
            <a class="btn btn-danger btn-sm" (click)="onDelete(language)">Delete</a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  
