<div class="card text-center">
  <div class="card-header" style="background-color: rgb(168, 167, 223)">
    <h3>Update City</h3>
  </div>
  <div class="card-body">
    <form #updateCityForm="ngForm" (ngSubmit)="onSubmit(updateCityForm)">
      <label for="cityName" class="form-label"></label>
      <input
        type="text"
        class="form-control"
        id="cityName"
        name="cityName"
        ngModel
        required
        [(ngModel)]="updateCity.name"
      />
      <button class="btn btn-primary mt-3 me-3" type="submit">Submit</button>
      <a class="btn btn-danger mt-3" (click)="onClose()">Close</a>
    </form>
    
  </div>
</div>
